<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage corresponding participant</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="style/styles.css"></style>

</head>
<body>
<div class="login-box">
    <h2>Créer un participant</h2>
    <form action="/participantEdit"  method="post">
        <input type="number" name="id_parti" th:value="${participant.id_parti}">
        <div class="user-box">
            <input type="integer" name="num_pers" required="True" th:value="${participant.num_pers}" >
            <label>Numero de la personne</label>
        </div>
        <div class="user-box">
            <input type="text" name="nom" required="True" th:value="${participant.nom}">
            <label>Nom</label>
        </div>
        <div class="user-box">
            <input type="text" name="prenom" required="True" th:value="${participant.prenom}">
            <label>Prénom</label>
        </div>
        <div class="user-box">
            <input type="text" name="email" required="True" th:value="${participant.email}">
            <label>E-mail</label>
        </div>
        <div class="user-box">
            <input type="text" name="date_naiss" required="True" th:value="${participant.date_naiss}">
            <label>Date de naissance</label>
        </div>
        <div class="user-box">
            <input type="text" name="organisation" required="True" th:value="${participant.organisation}">
            <label>Organisation</label>
        </div>
        <div class="user-box">
            <input type="text" name="observations" required="True" th:value="${participant.observations}">
            <label>Observations</label>
        </div>
        <a>
            <input type='submit' id="event_sub" name="submit_event">
            <!-- <span></span>
             <span></span>
             <span></span>
             <span></span>
             Submit--->
            </input>
        </a>
    </form>
</div>
</body>
</html>